@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: #404041;
}

p {
  margin: 16px 0px;
}

h1{
  margin: 16px 0px;
  font-size: 1.5rem;
  font-weight: 600;
}